@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,500&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    color: rgba(240, 248, 255, 0.664);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background: linear-gradient(
        to right,
        darkblue,
        darkslateblue,
        darkblue
    );
    background-size: 200%;
}

.container{
    margin: auto;
    min-height: 97vh;
    border: 2px solid #1c1c1c79;
    max-width: 90%;
    box-shadow: 0px 0px 10px -2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    background-color: transparent;
    border: 2px solid #1c1c1c79;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px black;
    height:3.5vh;
    text-align: center;
}

input:focus{
    outline:1px solid rgba(240, 248, 255, 0.664);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

.inputs{
    gap:3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    width: 10vh;
    border: 2px solid #1c1c1c79;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px black;
    height:3.5vh;
    text-align: center;
    margin: 5vh;
    cursor: pointer;
}

button:hover{
    font-size: .9em;
}

.result{
    text-align: center;
    height: 10vh;
}